body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    padding: 100px 60px;
    background: #20a1ff;
    font-family: sans-serif;
    font-weight: lighter;
}

#timer{
    font-size: 3em;
    font-weight: 100;
    color: white;
    padding: 20px;
    width: 700px;
    flex-direction: column;
}

#timer div{
    text-align: center;
    display: inline-block;
    min-width: 90px;
    padding: 15px;
    background: #020b43;
    border-radius: 10px;
    border: 2px solid #030d52;
    margin: 15px;
}

#timer div span {
    color: #fff;
    display: block;
    margin-top: 15px;
    font-size: .35em;
    font-weight: 400;
}

